body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 241, 241);
}

q {
  font-style: italic;
}

.text-info {
  text-align: center;
}

.covid-module {
  background-color: white;
  margin: 10px;
  padding: 20px;
  box-shadow: 5px 5px lightgrey;
}

.covid-modules-group {
  display: flex;
}

.covid-modules-group > .covid-module {
  width: 50%;
}

.rss-module {
  width: 50%;
}

@media (max-width: 800px) {
  .covid-modules-group {
    flex-direction: column;
  }
  .covid-modules-group > .covid-module {
    width: 100%;
  }
}